<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>cnpmapp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BN</display-name>
    <servlet-name>BN</servlet-name>
    <servlet-class>com.moldels.BN</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BN</servlet-name>
    <url-pattern>/BN</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JDBCUtil</display-name>
    <servlet-name>JDBCUtil</servlet-name>
    <servlet-class>com.jdbc.JDBCUtil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JDBCUtil</servlet-name>
    <url-pattern>/JDBCUtil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>add</display-name>
    <servlet-name>add</servlet-name>
    <servlet-class>com.servlet.add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add</servlet-name>
    <url-pattern>/views/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>createpre</display-name>
    <servlet-name>createpre</servlet-name>
    <servlet-class>com.servlet.createpre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createpre</servlet-name>
    <url-pattern>/views/createpre</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>hoanthanh</display-name>
    <servlet-name>hoanthanh</servlet-name>
    <servlet-class>com.servlet.hoanthanh</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hoanthanh</servlet-name>
    <url-pattern>/views/hoanthanh</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatectThuoc</display-name>
    <servlet-name>updatectThuoc</servlet-name>
    <servlet-class>com.servlet.updatectThuoc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatectThuoc</servlet-name>
    <url-pattern>/views/updatectThuoc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletectThuoc</display-name>
    <servlet-name>deletectThuoc</servlet-name>
    <servlet-class>com.servlet.deletectThuoc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletectThuoc</servlet-name>
    <url-pattern>/views/deletectThuoc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getMedicineDescriptionServlet</display-name>
    <servlet-name>getMedicineDescriptionServlet</servlet-name>
    <servlet-class>com.servlet.getMedicineDescriptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getMedicineDescriptionServlet</servlet-name>
    <url-pattern>/views/getMedicineDescriptionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getUnit</display-name>
    <servlet-name>getUnit</servlet-name>
    <servlet-class>com.servlet.getUnit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getUnit</servlet-name>
    <url-pattern>/views/getUnit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>lsServlet</display-name>
    <servlet-name>lsServlet</servlet-name>
    <servlet-class>com.servlet.lsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lsServlet</servlet-name>
    <url-pattern>/views/lsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bs</display-name>
    <servlet-name>bs</servlet-name>
    <servlet-class>com.servlet.bs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bs</servlet-name>
    <url-pattern>/views/bs</url-pattern>
  </servlet-mapping>
</web-app>